<div class="ui main text container">
    <div class="ui huge header">{{ componentTitle }}</div>
    <div class="ui top attached segment">
        <div class="ui divided items" *ngIf='blogs'>

                <div class="item" *ngFor='let blog of blogs | reverse'>
                    <div class="image">
                        <img onerror="this.src='https://cdn.shopify.com/s/files/1/1380/9193/t/3/assets/no-image.svg?2375582141201571545'" src= '{{blog.image}}'>
                        <div class="forBigScreen">
                            <div class="authorOnIndex"><a href="#" class="postUsername">{{ blog.author.username }}</a></div>
                                <div class="meta" *ngIf='blog.comments.length != 1'>{{ blog.comments.length }} comments</div>
                                <div class="meta" *ngIf='blog.comments.length == 1'>1 comment</div>
                        </div>
                    </div>
                    <div class="content">
                        <a class="header" href="#">{{ blog.title }}</a>
                        <div class="meta">
                            <span>{{ blog.created | date: 'longDate' }}</span>
                        </div>
                        <div class="description">
                            <p>{{ blog.body | slice:0:100 }}...</p>
                        </div>
                        <br class="forBigScreen">
                        <div class="forSmallScreenBlock">
                            <br>
                            <div class="authorOnIndex"><a href="#" class="postUsername">{{ blog.author.username }}</a></div>
                                <div class="meta" *ngIf='blog.comments.length != 1'>{{ blog.comments.length }} comments</div>
                                <div class="meta" *ngIf='blog.comments.length == 1'>1 comment</div>
                        </div>
                        <div class="extra">
                            <a class="ui floated secondary button" href="#">
                                Read more
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
        <p class="centered" *ngIf='blogs.length == 0'>Retrieving blogs...</p>
    </div>
</div>

<br>
