<div class="ui main text container" *ngIf='blogs.length > 0'>
    <div class="ui huge header">{{ componentTitle }}</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
                <div class="item" *ngFor='let blog of blogs | reverse'> <!-- needs async pipe when blogs becomes an observable -->
                    <div class="image">
                        <img src= '{{ blog.image }}' (error)="srcErrorHandler($event)">
                        <div class="forBigScreen">
                            <div class="authorOnIndex"><a href="#" class="postUsername">{{ blog.author.username }}</a></div>
                                <div class="meta" *ngIf='blog.comments.length != 1'>{{ blog.comments.length }} comments</div>
                                <div class="meta" *ngIf='blog.comments.length == 1'>1 comment</div>
                        </div>
                    </div>
                    <div class="content">
                        <a class="header" [routerLink]="['/blogs', blog._id]">{{ blog.title }}</a>
                        <div class="meta">
                            <span>{{ blog.created | date: 'longDate' }}</span>
                        </div>
                        <div class="description">
                            <p>{{ blog.body | slice:0:100 }}...</p>
                        </div>
                        <br class="forBigScreen">
                        <div class="forSmallScreenBlock">
                            <br>
                            <div class="authorOnIndex"><a href="#" class="postUsername">{{ blog.author.username }}</a></div>
                                <div class="meta" *ngIf='blog.comments.length != 1'>{{ blog.comments.length }} comments</div>
                                <div class="meta" *ngIf='blog.comments.length == 1'>1 comment</div>
                        </div>
                        <div class="extra">
                            <a class="ui floated secondary button" [routerLink]="['/blogs', blog._id]">
                                Read more
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="spinnerWrapper">
    <div class="lds-spinner" *ngIf='blogs.length == 0'><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<br>
