<br>
<div class="ui main text container segment" *ngIf='blog'>
    <!--blog-->
    <div class="ui huge header">{{ blog.title }}</div>
    <div class="ui top attached">
        <div class="item">
            <img onerror="this.src='https://cdn.shopify.com/s/files/1/1380/9193/t/3/assets/no-image.svg?2375582141201571545'" class="ui centered rounded image" src="{{ blog.image }}">
            <div class="description">
                <br>
                <div>
                    <a href="#" class="postUsername">{{ blog.author.username }}</a>
                    <span class="postDate"> on {{ blog.created }}</span>
                </div>
                <br>
                <p>{{ blog.body }}</p> <!-- needs check against scripting in body! -->
            </div>
        </div>
        <br>
        
        <div class="heightener">
          <div class="extra heightener">
              <!--back button-->
              <a class="ui secondary button" href="#">
                  <i class="left chevron icon"></i>Go back
              </a>
          </div>
        </div>
    <!--comment section-->
    <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        <div class="actions">
        <br>
            <div class="comment" *ngFor='let comment of comments | reverse'> <!-- async -->
            <a class="avatar">
                <img onerror="this.src='https://cdn.shopify.com/s/files/1/1380/9193/t/3/assets/no-image.svg?2375582141201571545'" src="">
            </a>
            <div class="content">
                <a class="author" href="#">{{ comment.author.username }}</a>
                <div class="metadata">
                <span class="date">{{ comment.created }}</span>
                </div>
                <div class="text">
                {{ comment.text }}
                </div>
                <!--<div class="actions">-->
                <!--  <a class="reply">Reply</a>-->
                <!--</div>-->
                <br>
            </div>
        </div>
    </div>
</div>
