body {
    text-align: justify;
    font-size: 1em;
    background-color: #f6f6f6;
}

.header {
    text-align: left;
}

i.icon {
    font-size: inherit;
}

.angle.icon.up.addComment {
    padding-left: 0.35em;
    display: none;
}

.dropdown.icon.addComment {
    padding-left: 0.35em;
}

.container.main {
    margin-top: 4.0em;
}

.extra {
    float: right;
    text-align: right;
}

.authorOnIndex {
    padding-top: .5em;
}

.postUsername {
    font-weight: bold;
    color: rgba(0,0,0,.87);
}

.postDate {
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
}

.flashMessageWrapper {
    position: absolute;
    top: 1.8em;
    width: 100%;
}

.flashMessage {
    padding-top: 3.5em;
    text-align: center;
}

.centered {
    text-align: center;
}

.heightener {
    height: 2.0em;
}

.ui.segment:last-child {
    margin-bottom: 4.0em;
}

.ui.avatar.image {
    border-radius: 10%;
}

div.forSmallScreenBlock {
    float: left;
}

.floatLeft {
    float: left;
}

#signOutIcon {
    color: #2185d0;
}

#userOptions {
    height: 100%;
}

#blogOptionsForm {
    display: none;
    float: right;
}

#signIn {
    float: right;
}

#navbar {
    padding-top: .2em;
    padding-bottom: .2em;
    z-index: 1;
}

.masthead .ui.menu .ui.button {
    margin-left: .5em;
}

#addComment {
    cursor: pointer;
}

#editBlog {
    font-size: 1rem;
}

.headerUserMenuItem {
    margin-bottom: -.5em;
    padding: 0;
    height: 0;
}

#headerUserImage {
    margin-right: .5em;
}

/*menu logic for large and smaller screen sizes*/

/*hide for bigger screens*/
#headerMenuDropdown, .forSmallScreen, .forSmallScreenBlock {
    display: none;
}

@media only screen and (max-width: 768px) {
    
    /*#navbar, #loginMenu {*/
    /*    padding-left: 0;*/
    /*    padding-right: 0;*/
    /*}*/
    
    /*show for smaller screens*/
    #headerMenuDropdown, .forSmallScreen {
        display: flex;
    }
    
    .forSmallScreenBlock {
        display: block;
    }
    
    /*hide for smaller screens*/
    #headerMenuBlogs, #headerMenuNewBlog, .forBigScreen {
        display: none;
    }
    
}

/* Spinner CSS */
.lds-spinner {
    margin: 0 auto;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #323232;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  